@model IEnumerable<SOFT331_Assignment.Models.Fare>

@{
    ViewBag.Title = "Fares";
}

<h2>Fares</h2>

<p>
    @Html.ActionLink("Create New Fare", "Create")    
    <br />
    @Html.ActionLink("Create New Fare Type", "Create", "FareType")
    <br />
    @Html.ActionLink("Create New Event Type", "Create", "EventType")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventType.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FareType.FareTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiftAidPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventType.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FareType.FareTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasicPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiftAidPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FareID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FareID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FareID })
        </td>
    </tr>
}

</table>
