@model SOFT331_Assignment.Models.Traveller

<table class="table-condensed">
    
    <tr>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.Address1)</th>
        <th>@Html.DisplayNameFor(model => model.PostCode)</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.FirstName)</td>
        <td>@Html.DisplayFor(model => model.LastName)</td>
        <td>@Html.DisplayFor(model => model.Address1)</td>
        <td>@Html.DisplayFor(model => model.PostCode)</td>
    </tr>

   
</table>
