@model SOFT331_Assignment.Models.Journey


<!-- Assuming there are journeys, display train and journey name at top of page-->
@{
    if (Model.Count() > 0)
    {
        string trainName = Model.FirstOrDefault().Train.ToString();
        string journeyType = Model.FirstOrDefault().Event.Name;

        <table>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => .Name)</strong>:</td>
                <td>@Html.DisplayFor(modelItem => trainName)</td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Event.Name)</strong>:</td>
                <td>@Html.DisplayFor(modelItem => journeyType)</td>
            </tr>
        </table>
    }
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvanceTickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstClassTickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvanceTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstClassTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>

        </tr>
        foreach (var stop in item.Stops)
        {
            <tr>
                <td><strong>Stopping at:</strong></td>
                <td colspan="3">
                    @Html.DisplayFor(blah => stop.Station.StationName)
                    &nbsp; <strong>Arriving:</strong>
                    @Html.DisplayFor(blah => stop.ArrivalTime)
                    &nbsp; <strong>Departing:</strong>
                    @Html.DisplayFor(blah => stop.DepartureTime)
                </td>
            </tr>
        }

    }

</table>
