@model SOFT331_Assignment.Models.Ticket

<table class="table">

    <tr>
        <th>@Html.DisplayNameFor(model => model.Fare.TicketType.Name)</th>
        <th>Fare Type</th>
        <th>@Html.DisplayNameFor(model => model.Fare.TicketType.ArrivalStation.StationName)</th>
        <th>@Html.DisplayNameFor(model => model.Fare.TicketType.DepartureStation.StationName)</th>
        <th>@Html.DisplayNameFor(model => model.Wheelchair)</th>
        <th>@Html.DisplayNameFor(model => model.Carer)</th>
        <th>@Html.DisplayNameFor(model => model.GiftAid)</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Fare.TicketType.Name)</td>
        <td>@Html.DisplayFor(model => model.Fare.FareType.FareTypeDescription)</td>
        <td>@Html.DisplayFor(model => model.Fare.TicketType.ArrivalStation.StationName)</td>
        <td>@Html.DisplayFor(model => model.Fare.TicketType.DepartureStation.StationName)</td>
        <td>@Html.DisplayFor(model => model.Wheelchair)</td>
        <td>@Html.DisplayFor(model => model.Carer)</td>
        <td>@Html.DisplayFor(model => model.GiftAid)</td>
        @{ if (Model.GiftAid)
         {
            <th>@Html.DisplayFor(model => model.Fare.GiftAidPrice)</th>
         }
         else
         {
            <th>@Html.DisplayFor(model => model.Fare.BasicPrice)</th>
         }
        }
    </tr>



</table>
