@model SOFT331_Assignment.Models.Fare

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Fare</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.FareID)

        <div class="form-group">
            @Html.LabelFor(model => model.FareTypeID, "Fare Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FareTypeID", String.Empty)
                @Html.ValidationMessageFor(model => model.FareTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TicketTypeID, "Ticket Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TicketTypeID", String.Empty)
                @Html.ValidationMessageFor(model => model.TicketTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BasicPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BasicPrice)
                @Html.ValidationMessageFor(model => model.BasicPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiftAidPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiftAidPrice)
                @Html.ValidationMessageFor(model => model.GiftAidPrice)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
