@model IEnumerable<SOFT331_Assignment.Models.Fare>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ if (User.IsInRole("ADMIN"))
 {
    <p>
        @Html.ActionLink("Create New Fare", "Create") <br />
        @Html.ActionLink("Create Fare Type (e.g. Adult, Student)", "Create", "FareTypes")<br />
        @Html.ActionLink("Create Ticket Type (e.g. All Day Return)", "Create", "TicketTypes")<br />
    </p>
 }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FareType.FareTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiftAidPrice)
        </th>
        @{ if (User.IsInRole("ADMIN"))
         {
            <th></th>
         }
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FareType.FareTypeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiftAidPrice)
            </td>
            @{ if (User.IsInRole("ADMIN"))
             {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FareID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FareID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FareID })
                </td>
             }
            }
        </tr>
    }

</table>
