@model SOFT331_Assignment.Models.Journey

@{
    ViewBag.Title = "Journey Details";
}

<h2>Journey Details</h2>

<div>

    <h3>Statistics</h3>
    <hr />

    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.AdvanceTickets)</th>
            <th>@Html.DisplayNameFor(model => model.FirstClassTickets)</th>
            <th>@Html.DisplayNameFor(model => model.NumberOfSeats)</th>
            <th>Total Tickets Booked</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(modelItem => modelItem.AdvanceTickets)</td>

            <td>@Html.DisplayFor(modelItem => modelItem.FirstClassTickets)</td>

            <td>@Html.DisplayFor(modelItem => modelItem.NumberOfSeats)</td>

            <td>@Html.DisplayFor(modelItem => modelItem.Tickets.Count)</td>
    </table>
    <br />
    <table class="table-condensed">
        <tr>
            <th>Ticket Group</th>
            <th>Number of tickets booked</th>
        </tr>
        @{
            foreach (KeyValuePair<string, int> tg in (Dictionary<string, int>)ViewData["TicketGroups"])
            {
                <tr>
                    <td>@Html.DisplayFor(t => tg.Key)</td>
                    <td>@Html.DisplayFor(t => tg.Value)</td>
                </tr>
            }
        }
    </table>
    <table class="table-condensed">
        <tr>
            <th>Fare Type</th>
            <th>Number of tickets booked</th>
        </tr>
        @{
            foreach (KeyValuePair<string, int> ft in (Dictionary<string, int>)ViewData["FareTypes"])
            {
                <tr>
                    <td>@Html.DisplayFor(t => ft.Key)</td>
                    <td>@Html.DisplayFor(t => ft.Value)</td>
                </tr>
            }
        }
    </table>
    <table class="table-condensed">
        <tr>
            <th>Number of gift aid tickets</th>
            <th>Total value of gift aid</th>
        </tr>
        @{
            KeyValuePair<int, double> k = (KeyValuePair<int, double>)ViewData["GiftAidInfo"];
            <tr>
                <td>@Html.DisplayFor(t => k.Key)</td>
                <td>@Html.DisplayFor(t => k.Value)</td>
            </tr>
        }
    </table>
    <h3>Service Information</h3>
    <hr />

    @{
        string trainName = Model.Train.ToString();
        string journeyType = Model.Event.Name;
        <table>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Train.Name)</strong>:</td>
                <td>@Html.DisplayFor(modelItem => trainName)</td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Event.Name)</strong>:</td>
                <td>@Html.DisplayFor(modelItem => journeyType)</td>
            </tr>

        </table>

        <h4>Calling at:</h4>
        <hr />
        <table class="table-condensed">
            <tr>
                <th>Station</th>
                <th>Arrival Time</th>
                <th>Departure Time</th>
                <th>Tickets Booked</th>
            </tr>
            @foreach (var stop in Model.Stops)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(s => stop.Station.StationName)
                    </td>
                    <td>
                        @Html.DisplayFor(s => stop.ArrivalTime)
                    </td>
                    <td>
                        @Html.DisplayFor(s => stop.DepartureTime)
                    </td>
                    <td>
                        @Html.DisplayFor(s => stop.NoBookedSeats)
                    </td>
                </tr>
            }

        </table>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JourneyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
