@model SOFT331_Assignment.Models.Journey

@{
    ViewBag.Title = "Journey Details";
}

<h2>Journey Details</h2>

<div>
    <h3>Statistics</h3>

    <table class="table">
        <tr>
            <th>Advance Tickets</th>
            <th>@Html.DisplayNameFor(model => model.FirstClassTickets)</th>
            <th># Seats</th>
            <th>Total Tickets Booked</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(modelItem => modelItem.AdvanceTickets)</td>

            <td>@Html.DisplayFor(modelItem => modelItem.FirstClassTickets)</td>

            <td>@Html.DisplayFor(modelItem => modelItem.NumberOfSeats)</td>

            <td>@Html.DisplayFor(modelItem => modelItem.Tickets.Count)</td>
    </table>

    <table class="table-condensed">
        <tr>
            <th>Ticket Group</th>
            <th>Number of tickets booked</th>
        </tr>
        @{
            foreach (KeyValuePair<string, int> tg in (Dictionary<string, int>)ViewData["TicketGroups"])
            {
                <tr>
                    <td>@Html.DisplayFor(t => tg.Key)</td>
                    <td>@Html.DisplayFor(t => tg.Value)</td>
                </tr>
            }
        }

        <tr>
            <th>Fare Type</th>
            <th>Number of tickets booked</th>
        </tr>
        @{
            foreach (KeyValuePair<string, int> ft in (Dictionary<string, int>)ViewData["FareTypes"])
            {
                <tr>
                    <td>@Html.DisplayFor(t => ft.Key)</td>
                    <td>@Html.DisplayFor(t => ft.Value)</td>
                </tr>
            }
        }

        <tr>
            <th>Number of gift aid tickets</th>
            <th>Total value of gift aid</th>
        </tr>
        @{
            KeyValuePair<int, double> k = (KeyValuePair<int, double>)ViewData["GiftAidInfo"];
            <tr>
                <td>@Html.DisplayFor(t => k.Key)</td>
                <td>@Html.DisplayFor(t => k.Value)</td>
            </tr>
        }
    </table>

    <h3>Service Information</h3>
    <hr />

    <div class="row">
        @{Html.RenderPartial("_viewJourneyAdminPartial", Model);
        }
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JourneyID }) |
    @Html.ActionLink("Edit Stops", "Index", "Stops") |
    @Html.ActionLink("Back to List", "Index")
</p>
