@model SOFT331_Assignment.Models.Journey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Journey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Train.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Train.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvanceTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvanceTickets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstClassTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstClassTickets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JourneyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
