@model SOFT331_Assignment.Models.Journey

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Journey</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.JourneyID)

        <div class="form-group">
            @Html.LabelFor(model => model.TrainID, "TrainID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TrainID", String.Empty)
                @Html.ValidationMessageFor(model => model.TrainID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventID, "EventID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EventID", String.Empty)
                @Html.ValidationMessageFor(model => model.EventID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvanceTickets, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvanceTickets)
                @Html.ValidationMessageFor(model => model.AdvanceTickets)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstClassTickets, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstClassTickets)
                @Html.ValidationMessageFor(model => model.FirstClassTickets)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfSeats, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfSeats)
                @Html.ValidationMessageFor(model => model.NumberOfSeats)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Edit Stops", "Index", "Stops") <br />
    @Html.ActionLink("Back to List", "Index")
</div>
