@model IEnumerable<SOFT331_Assignment.Models.Journey>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Train.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Event.Name)</th>
        <th>@Html.DisplayNameFor(model => model.AdvanceTickets)</th>
        <th>@Html.DisplayNameFor(model => model.FirstClassTickets)</th>
        <th>@Html.DisplayNameFor(model => model.NumberOfSeats)</th>
        <th>Tickets Booked</th>
        <th></th>
    </tr>

    @{ foreach (var j in Model)
     {
         string trainName = j.Train.ToString();
         string journeyType = j.Event.Name;
        <tr>
            <td>@Html.DisplayFor(modelItem => trainName)</td>

            <td>@Html.DisplayFor(modelItem => journeyType)</td>

            <td>@Html.DisplayFor(modelItem => j.AdvanceTickets)</td>

            <td>@Html.DisplayFor(modelItem => j.FirstClassTickets)</td>

            <td>@Html.DisplayFor(modelItem => j.NumberOfSeats)</td>

            <td>@Html.DisplayFor(modelItem => j.Tickets.Count)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = j.JourneyID }) |
                @Html.ActionLink("Details", "Details", new { id = j.JourneyID }) |
                @Html.ActionLink("Delete", "Delete", new { id = j.JourneyID })
            </td>
        </tr>

     }
    }
</table>
