@model IEnumerable<SOFT331_Assignment.Models.Journey>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Train.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvanceTickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstClassTickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Train.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvanceTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstClassTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.JourneyID }) |
                @Html.ActionLink("Details", "Details", new { id = item.JourneyID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.JourneyID })
            </td>

        </tr>
        foreach (var stop in item.Stops)
        {
            <tr>
                <td colspan="3">
                    TODO: Station Name
                    @Html.DisplayFor(blah => stop.Station.StationName)
                    &nbsp; <strong>Arriving:</strong>
                    @Html.DisplayFor(blah => stop.ArrivalTime)
                    &nbsp; <strong>Departing:</strong>
                    @Html.DisplayFor(blah => stop.DepartureTime)
                </td>
            </tr>
        }

    }

</table>
