@model SOFT331_Assignment.Models.Train

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Train</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TrainNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrainNumber)
                @Html.ValidationMessageFor(model => model.TrainNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image)
                @Html.ValidationMessageFor(model => model.Image)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maker, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Maker)
                @Html.ValidationMessageFor(model => model.Maker)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorksNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorksNumber)
                @Html.ValidationMessageFor(model => model.WorksNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DrivingWheelDiameter, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DrivingWheelDiameter)
                @Html.ValidationMessageFor(model => model.DrivingWheelDiameter)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrailingWheelDiameter, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrailingWheelDiameter)
                @Html.ValidationMessageFor(model => model.TrailingWheelDiameter)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalWheelbase, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalWheelbase)
                @Html.ValidationMessageFor(model => model.TotalWheelbase)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CylinderSize, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CylinderSize)
                @Html.ValidationMessageFor(model => model.CylinderSize)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HeatingSurface, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HeatingSurface)
                @Html.ValidationMessageFor(model => model.HeatingSurface)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkingPressure, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkingPressure)
                @Html.ValidationMessageFor(model => model.WorkingPressure)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TractiveEffort, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TractiveEffort)
                @Html.ValidationMessageFor(model => model.TractiveEffort)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weight)
                @Html.ValidationMessageFor(model => model.Weight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LengthOverBuffers, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LengthOverBuffers)
                @Html.ValidationMessageFor(model => model.LengthOverBuffers)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonorLoco, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DonorLoco)
                @Html.ValidationMessageFor(model => model.DonorLoco)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
