@model SOFT331_Assignment.Models.Train

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Train</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorksNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorksNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrivingWheelDiameter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrivingWheelDiameter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrailingWheelDiameter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrailingWheelDiameter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalWheelbase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalWheelbase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CylinderSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CylinderSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeatingSurface)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeatingSurface)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingPressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingPressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TractiveEffort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TractiveEffort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LengthOverBuffers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LengthOverBuffers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonorLoco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonorLoco)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrainID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
