@model SOFT331_Assignment.Models.Station

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Station</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.StationName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StationName)
                @Html.ValidationMessageFor(model => model.StationName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StationDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StationDescription)
                @Html.ValidationMessageFor(model => model.StationDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestStop, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestStop)
                @Html.ValidationMessageFor(model => model.RequestStop)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WheelchairAccessible, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WheelchairAccessible)
                @Html.ValidationMessageFor(model => model.WheelchairAccessible)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarPark, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarPark)
                @Html.ValidationMessageFor(model => model.CarPark)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefreshmentsAvailable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefreshmentsAvailable)
                @Html.ValidationMessageFor(model => model.RefreshmentsAvailable)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToiletAvailable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToiletAvailable)
                @Html.ValidationMessageFor(model => model.ToiletAvailable)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MainlineStationNear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MainlineStationNear)
                @Html.ValidationMessageFor(model => model.MainlineStationNear)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
