@model SOFT331_Assignment.Models.Station

@{
    ViewBag.Title = "Station Details";
}

<h2>Station Details</h2>

<div>
    <h4>@Model.StationName</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StationDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
