@model SOFT331_Assignment.Models.FareType

@{
    ViewBag.Title = "Edit Fare Type";
}

<h2>Edit Fare Type</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.FareTypeDescription</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.FaretypeID)

        <div class="form-group">
            @Html.LabelFor(model => model.FareTypeDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FareTypeDescription)
                @Html.ValidationMessageFor(model => model.FareTypeDescription)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.BasicPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BasicPrice)
                @Html.ValidationMessageFor(model => model.BasicPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiftAidPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiftAidPrice)
                @Html.ValidationMessageFor(model => model.GiftAidPrice)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
