@model SOFT331_Assignment.Models.Ticket

@{
    ViewBag.Title = "Book new Ticket";
}

<h2>Book Ticket</h2>

<div class="row">
    <!--Get journey, and stops-->
    @{Html.RenderPartial("_viewJourneyPartial", ViewData["Journey"]); }
</div>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>Fares</h3>
        <hr />
        @Html.ValidationSummary(true)
        <table class="table">
            <tr>
                <th></th>
                <th>@Html.LabelFor(model => model.Fare.TicketType.Name)</th>
                <th>@Html.LabelFor(model => model.Fare.FareType.FareTypeDescription)</th>
                <th>@Html.LabelFor(model => model.Fare.GiftAidPrice)</th>
                <th>@Html.LabelFor(model => model.Fare.BasicPrice)</th>
                <th></th>
            </tr>
            @{ foreach (SOFT331_Assignment.Models.Fare f in (List<SOFT331_Assignment.Models.Fare>)ViewData["Fares"])
             {
                <tr>
                    <td>@Html.RadioButtonFor(model => model.FareID, f.FareID)</td>
                    <td>@Html.DisplayFor(model => f.TicketType.Name)</td>
                    <td>@Html.DisplayFor(model => f.FareType.FareTypeDescription)</td>
                    <td>@Html.DisplayFor(model => f.GiftAidPrice)</td>
                    <td>@Html.DisplayFor(model => f.BasicPrice)</td>
                </tr>
             }
            }
            
        </table>

        @*<div class="form-group">
        @Html.LabelFor(model => model.FareID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("FareID", String.Empty)
            @Html.ValidationMessageFor(model => model.FareID)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.JourneyID, "JourneyID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("JourneyID", String.Empty)
            @Html.ValidationMessageFor(model => model.JourneyID)
        </div>
    </div>*@

        @Html.HiddenFor(model => model.JourneyID, new { @Value = @ViewBag.JourneyID });

        <div class="form-group">
            @Html.LabelFor(model => model.GiftAid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.GiftAid)
                @Html.ValidationMessageFor(model => model.GiftAid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Wheelchair, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Wheelchair)
                @Html.ValidationMessageFor(model => model.Wheelchair)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Carer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Carer)
                @Html.ValidationMessageFor(model => model.Carer)
            </div>
        </div>

        <div id="submitButton" class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Make Booking" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div id="createTravller" style="display:none;">
    <p>
        In order to gift aid a ticket, you will be redirected to fill in your name and address, and then confirm the
        ticket booking.
    </p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript">

    $("#GiftAid").click(function () {
        if (this.checked)
        {
            $("#createTravller").show();
        }

        if (!this.checked)
        {
            $("#createTravller").hide();
        }
    });

</script>