@model SOFT331_Assignment.Models.Journey

@{
    ViewBag.Title = "Book  new Ticket";
}

<h2>Create</h2>

Between @ViewBag.MinDate
and @ViewBag.MaxDate

<!--Get journey, and stops-->
@{Html.RenderPartial("_viewJourneysPartial", Model); }

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    @*<div class="form-horizontal">
        <h4>Ticket</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => Model.Traveller.TravellerID, "TravellerID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TravellerID", String.Empty)
                @Html.ValidationMessageFor(model => Model.Traveller.TravellerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FareID, "FareID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FareID", String.Empty)
                @Html.ValidationMessageFor(model => model.FareID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiftAid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiftAid)
                @Html.ValidationMessageFor(model => model.GiftAid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Wheelchair, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Wheelchair)
                @Html.ValidationMessageFor(model => model.Wheelchair)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Carer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Carer)
                @Html.ValidationMessageFor(model => model.Carer)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>*@
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
