@model SOFT331_Assignment.Models.Traveller

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Traveller</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TravellerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
