@model SOFT331_Assignment.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fare.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fare.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Journey.JourneyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Journey.JourneyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Traveller.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Traveller.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TicketID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
