@model IEnumerable<SOFT331_Assignment.Models.Journey>

@{
    ViewBag.Title = "Timetable: day x";
}

<h2>Details</h2>

<div>
    <h4>Journies for day x (see title) TODO: Actually search this properly based on URL param</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                Departure Station
                @*@Html.DisplayNameFor(model => model.DepartureStation.StationName)*@
            </th>
            <th>
                Arrival Station
                @*@Html.DisplayNameFor(model => model.ArrivalStation.StationName)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Train.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JourneyType)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureStation.StationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalStation.StationName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Train.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JourneyType.JourneyTypeName)
                </td>
            </tr>
        }

    </table>
</div>